.header {
	display: flex;
	justify-content: end;
	padding: 10px 15px;
	position: relative;
}

.header > span {
	font-size: 14px;
	background-color: red;
	border-radius: 50%;
	width: 15px;
	height: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-right: 1px;
	padding-bottom: 1px;
	position: absolute;
	top: 2px;
	right: 10px;
}
