@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700;800;900&display=swap');
*:not(pre, i) {
	padding: 0;
	margin: 0;
	font-family: 'Golos Text', sans-serif;
}

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #202020;
	color: #fff;
	font-size: 16px;
}

button {
	background-color: #e08594;
	outline: none;
	border: none;
	color: #fff;
	padding: 5px;
	border-radius: 10px;
	font-size: 16px;
	margin-top: 5px;
	cursor: pointer;
	transition: all 0.3s ease;
}

button:hover {
	background-color: #c77683;
}
form {
	width: 50%;
	padding: 0 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	gap: 5px;
}
input {
	outline: none;
	padding: 5px;
	border: 1px solid transparent;
	outline: none;
	border-radius: 10px;
	font-size: 16px;
	transition: all 0.3s ease;
}

input:focus {
	border-color: #e08594;
}
